<p id="notice"><%= notice %></p>

<h1>Listing Type Companies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @type_companies.each do |type_company| %>
      <tr>
        <td><%= type_company.name %></td>
        <td><%= link_to 'Show', type_company %></td>
        <td><%= link_to 'Edit', edit_type_company_path(type_company) %></td>
        <td><%= link_to 'Destroy', type_company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Type company', new_type_company_path %>
