<%= form_for(@header_manager_claro) do |f| %>
  <% if @header_manager_claro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@header_manager_claro.errors.count, "error") %> prohibited this header_manager_claro from being saved:</h2>

      <ul>
      <% @header_manager_claro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :item %><br>
    <%= f.text_field :item %>
  </div>
  <div class="field">
    <%= f.label :tipo %><br>
    <%= f.text_field :tipo %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :allotment_id %><br>
    <%= f.number_field :allotment_id %>
  </div>
  <div class="field">
    <%= f.label :id_file %><br>
    <%= f.text_field :id_file %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
