<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @header_manager_claro.name %>
</p>

<p>
  <strong>Item:</strong>
  <%= @header_manager_claro.item %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @header_manager_claro.tipo %>
</p>

<p>
  <strong>Value:</strong>
  <%= @header_manager_claro.value %>
</p>

<p>
  <strong>Allotment:</strong>
  <%= @header_manager_claro.allotment_id %>
</p>

<p>
  <strong>Id file:</strong>
  <%= @header_manager_claro.id_file %>
</p>

<%= link_to 'Edit', edit_header_manager_claro_path(@header_manager_claro) %> |
<%= link_to 'Back', header_manager_claros_path %>
