<p id="notice"><%= notice %></p>

<h1>Listing Claro Transaction By Lines</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Kind</th>
      <th>Value</th>
      <th>Use time</th>
      <th>Allotment</th>
      <th>Id file</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @claro_transaction_by_lines.each do |claro_transaction_by_line| %>
      <tr>
        <td><%= claro_transaction_by_line.name %></td>
        <td><%= claro_transaction_by_line.kind %></td>
        <td><%= claro_transaction_by_line.value %></td>
        <td><%= claro_transaction_by_line.use_time %></td>
        <td><%= claro_transaction_by_line.allotment_id %></td>
        <td><%= claro_transaction_by_line.id_file %></td>
        <td><%= link_to 'Show', claro_transaction_by_line %></td>
        <td><%= link_to 'Edit', edit_claro_transaction_by_line_path(claro_transaction_by_line) %></td>
        <td><%= link_to 'Destroy', claro_transaction_by_line, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Claro transaction by line', new_claro_transaction_by_line_path %>
